<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>getCustomerTypeSvc</display-name>

	<!-- spring context loader listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- location of spring context/application configuration (applicationContext.xml) -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		classpath:/config/applicationContext.xml
	</param-value>
	</context-param>

	<!-- MessageDispatcherServlet - entrypoint for processing all requests routed to spring-ws -->
	<servlet>
		<servlet-name>spring-ws</servlet-name>
		<servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
		<init-param>
			<param-name>transformWsdlLocations</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<!-- map the MessageDispatcherServlet to a URL pattern for processing incoming requests -->
	<servlet-mapping>
		<servlet-name>spring-ws</servlet-name>
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>

	<!-- list of files invoked automatically by server if requestor does not specify a file name -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- JNDI resources referenced by this web application
	<resource-ref>
		<res-ref-name>DS_MID_APP</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	 -->
	 
</web-app>